<div class=" fondo-home">
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <!-- <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0"></li>
      <li *ngFor="let img of imgs; let i = index;"  data-target="#carouselExampleIndicators" data-slide-to="{{i}}" ></li>
    </ol>  -->
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/img/img1.jpg" class="d-block w-100" alt="slide1">
      </div>
      <div *ngFor="let img of imgs;" class="carousel-item">
        <img src="{{ img.url }}" class="d-block w-100" alt="{{ img.nombre }}">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

  <div class="row ml-5 text-center mt-2">
    <div class="col-md-12">
      <div class="jumbotron jumbotron-fluid animated fadeIn fast mt-1">
        <div class="container">
          <h1 class="display-4">Example Comic App</h1>
          <p class="lead">This is a simple angular application, I did it with the aim of practicing routes, ngIf, ngFor,
            search and other things.</p>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <h1>Slider Img</h1>
      <button class="btn btn-success btn-block" data-toggle="modal" data-target="#modalAgregar">
        <i class="large material-icons">add</i>
      </button>
    </div>
    <div class="col-md-10">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Img Name</th>
            <th scope="col">Img</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let img of imgs; let i = index;">
            <th scope="row"> {{ i+1 }} </th>
            <td> {{ img.nombre }} </td>
            <td> <img src="{{ img.url }}" alt=" {{ img.nombre }} "> </td>
            <td>
              <div class="row">
                <div class="m-1">
                  <button class="btn btn-outline-dark"><i class="material-icons">info</i></button>
                </div>
                <div class="m-1">
                  <button class="btn btn-outline-primary"><i class="material-icons">edit</i></button>
                </div>
                <div class="m-1">
                  <button class="btn btn-outline-danger"><i class="material-icons">delete</i></button>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- Modal Agregar img a slider-->
  <div class="modal fade" id="modalAgregar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{ title }}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="btn-group mb-2" role="group" aria-label="Basic example">
            <button id="btn-1" type="button" class="btn btn-primary active" (click)="cambiaInputs(1)">Primera
              Forma</button>
            <button id="btn-2" type="button" class="btn btn-primary" (click)="cambiaInputs(2)">Segunda Forma</button>
          </div>
          <form id="addForm" class="was-validated needs-validation" novalidate>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="input-desc">Upload</span>
              </div>
              <div class="custom-file">
                <input type="file" class="custom-file-input" id="input-file" aria-describedby="input-desc">
                <label class="custom-file-label" for="input-file">Choose file</label>
              </div>
            </div>
            <div *ngIf="type == 2" class="form-group row">
              <label for="input-file2" class="col-sm-2 col-form-label"> URL</label>
              <div class="col-sm-10">
                <input id="fecha-hero" (keyup)="previsualizarURL()" type="text" class="form-control is-invalid"
                  id="input-file2" placeholder="https://images.ctfassets.net/adcxfdhgs.jpg" required>
                <div class="invalid-feedback">
                  Please enter a url in the input.
                </div>
              </div>
            </div>
            <hr>
            <div id="preview"></div>
          </form>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" data-dismiss="modal"
            (click)="eliminarPrev()">Cancel</button>
          <button type="button" class="btn btn-outline-success" data-dismiss="modal" (click)="newImagen()">Save</button>
        </div>
      </div>
    </div>
  </div>




</div>
